body {font-family: 'Noto Sans JP', sans-serif; color: #333333; }
a { text-decoration: none; color: #333333;  -webkit-tap-highlight-color:rgba(0,0,0,0); cursor:pointer;}
$breakpoints: (
  'md': 'screen and (max-width: 900px)',
  'sp': 'screen and (max-width: 550px)',
) !default;


@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
.br{
  display: none;
}
.br-pc{
  display: block;
  @include mq(md) {
    display: none;
  }
}
.br-md{
  @include mq(md) {
    display: block;
  }
}
.br-sp-none{
  @include mq(sp) {
    display: none;
  }
}

.display-pc{
  display: block;
  @include mq(md) {
    display: none !important;
  }
}

.display-pc-md{
  display: block;
  @include mq(sp) {
    display: none !important;
  }
}
.display-sp{
  display: none;
  @include mq(sp) {
    display: block !important;
  }
}






.content{
  &-header{
    margin: 0 auto 70px;
    padding-top: 64px;
    text-align: center;
    @include mq(sp) {
      margin: 0 auto 30px;
    }
  }
  &-header-upper{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &-header-lower{
    color: #3BA6C9;
    font-weight: bold;
    letter-spacing: .15em;
  }
  &-header-description{
    margin: 44px 0 0;
    line-height: 1.5;
  }
}

.content-accordion-margin{
  margin: 0 auto 38px;
}
.content-blog-margin{
  margin: 0 auto 62px;
  @include mq(md) {
    margin: 0 auto 20px;
  }
}
.content-form-margin{
  margin: 0 auto 60px;
}
.content-work-margin{
  margin: 0 auto 74px;
  @include mq(md) {
    margin: 0 auto 40px;
  }
}
.content-contact-margin{
  margin: 0 auto 40px;
}







.header{
  background: white;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.5);
  position: fixed;
  width: 100%;
  z-index: 4;
  &-nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 94px;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 30px;
    @include mq(md) {
      padding: 0 10px 0 30px;
    }
    @include mq(sp) {
      padding: 0 30px 0 10px;

    }
  }
  &-left{
    display: flex;
    width: 254px;
    &-logoPicContainer{
      height: 47px;
      width: 47px;
      @include mq(sp) {
        height: 40px;
        width: 40px;
      }
    }
    &-logoPic{
      width: 100%;
    }
    &-logoTitle{
      box-sizing: border-box;
      font-weight: bold;
      font-size: 24px;
      height: 47px;
      line-height: 47px;
      margin-left: 16px;
      width: 191px;
      white-space: pre;
      @include mq(md) {

      }
      @include mq(sp) {
        font-size: 18px;
        width: auto;
      }
    }
  }
  &-center{
    align-items: center;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-right: 35px;
    @include mq(md) {
      padding-right: 0;
      width: 300px;
    }
    &-item{
      margin: 0 23px 0 0;
      cursor: pointer;
      @include mq(md) {
        margin: 0 10px 0 0;
      }
    }
  }
  &-right{
    box-shadow: 0px 3px 6px #00000029;
    background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    width: 155px;
  }
}
.header-center-item:nth-of-type(2){
  margin: 0 23px;
  @include mq(md) {
    margin: 0 10px;
  }
}
.header-center-item:nth-of-type(3){
  margin: 0 0 0 23px;
  @include mq(md) {
    margin: 0 0 0 10px;
  }
}

.hero{
  overflow: hidden;
  @include mq(md) {
    background-position: right 50% bottom 130%;
    background-size: contain;
    padding-top: 150px;
    height: 570px;
  }
  @include mq(sp) {
    background-position: right 50% bottom 130%;
    background-size: auto;
  }
  &-container{
    box-sizing: border-box;
    display: flex;
    height: 674px;
    justify-content: space-between;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding-top: 225px;
    @include mq(md) {
      flex-direction: column;
      height: auto;
      padding-top: 0;
      max-width: 450px;
      text-align: center;
    }
    @include mq(sp) {
      width: 80%;
    }
  }
  &-left{
    box-sizing: border-box;
    height: 430px;
    padding-top: 22px;
    padding-left: 37px;
    position: static;
    z-index: 3;
    @include mq(md) {
      height: 300px;
      margin-bottom: 0;
      padding-left: 0;
      padding-top: 0;
    }
  }
  &-right{
    position: relative;
    @include mq(md) {
      height: 300px;
      margin: 0 auto;
      width: 300px;
    }
    @include mq(md) {
      width: 200px;
    }
  }
  &-img{
    &-main{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      @include mq(md) {
        top: -90px;
        right: -180px;
      }
      @include mq(sp) {
        width: 200%;
        right: -100px;
      }
    }
    &-bg{
      position: absolute;
      top: -260px;
      right: -260px;
      z-index: 1;
      @include mq(md) {
        top: -400px;
      }
    }
  }
  &-title{
    font-size: 32px;
    margin-bottom: 21px;
    line-height: 55px;
    @include mq(sp) {
      font-size: 24px;
      line-height: 35px;
    }
  }
  &-subtitle{
    margin-bottom: 32px;
    line-height: 28px;
  }
  &-btn{
    box-shadow: 0px 3px 6px #00000029;
    background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    display: block;
    height: 37px;
    line-height: 37px;
    text-align: center;
    width: 155px;
    cursor: pointer;
    @include mq(md) {
      margin: 0 auto;
    }
  }
}




.feature{
  &-container{
    padding: 170px 0px 0px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    @include mq(md) {
      padding: 50px 40px 0;
    }
  }
  &-header{
    margin: 0 auto 70px;
    padding-top: 0px;
    text-align: center;
    &-title{
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      @include mq(sp) {
        font-size: 26px;
        line-height: 1.3;
      }
    }
    &-subtitle{
      color: #3BA6C9;
      font-weight: bold;
      letter-spacing: .15em;
    }
    &-description{
      margin: 44px 0 0;
      line-height: 1.5;
    }
  }
  &-first{
    &-item{
      width: 100%;
    }
    &-title{
      font-size: 28px;
      margin-bottom: 50px;
      text-align: center;
      @include mq(md) {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    &-description{
      display: flex;
      flex-direction:column;
    }
    &-img-container{
      @include mq(md) {
        height: 250px;
        margin: 0 auto 30px;
        width: 300px;
      }
      @include mq(sp) {
        height: auto;
        width: 70%;
      }
    }
    &-img{
      @include mq(md) {
        width: 100%;
      }
    }
    &-body{
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      margin-bottom: 95px;
      padding: 0 15px 0 110px;
      box-sizing: border-box;
      @include mq(md) {
        flex-direction: column;
        margin-bottom: 60px;
        padding: 0;
      }
      &-upper{
        font-size: 24px;
        line-height: 1.9;
        padding-top: 48px;
        box-sizing: border-box;
        @include mq(md) {
          font-size: 22px;
          margin-bottom: 10px;
          text-align: center;
        }
      }
      &-lower{
        line-height: 1.6;
        box-sizing: border-box;
        padding-top: 42px;
        @include mq(md) {
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
  &-second{
    &-item{
      width: 100%;
    }
    &-title{
      font-size: 28px;
      margin-bottom: 65px;
      text-align: center;
      @include mq(md) {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    &-description{
      display: flex;
      flex-direction:column;
    }
    &-img-container{
      @include mq(md) {
        height: 250px;
        margin: 0 auto 30px;
        width: 300px;
      }
      @include mq(sp) {
        height: auto;
        width: 70%;
      }
    }
    &-img{
      @include mq(md) {
        width: 100%;
      }
    }
    &-body{
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      margin-bottom: 143px;
      padding: 0 53px 0 137px;
      box-sizing: border-box;
      @include mq(md) {
        flex-direction: column-reverse;
        margin-bottom: 60px;
        padding: 0;
      }
      &-upper{
        font-size: 24px;
        line-height: 1.9;
        @include mq(md) {
          font-size: 22px;
          margin-bottom: 10px;
          text-align: center;
        }
      }
      &-lower{
        line-height: 1.6;
        box-sizing: border-box;
        padding-top: 40px;
        @include mq(md) {
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
  &-third{
    &-item{
      width: 100%;
    }
    &-title{
      font-size: 28px;
      margin-bottom: 70px;
      text-align: center;
      @include mq(md) {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    &-description{
      display: flex;
      flex-direction:column;
    }
    &-img-container{
      @include mq(md) {
        height: 250px;
        margin: 0 auto 30px;
        width: 300px;
      }
      @include mq(sp) {
        height: auto;
        width: 70%;
      }
    }
    &-img{
      @include mq(md) {
        width: 100%;
      }
    }
    &-body{
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      padding: 0 140px 0 139px;
      margin-bottom: 150px;
      box-sizing: border-box;
      @include mq(md) {
        flex-direction: column;
        margin-bottom: 60px;
        padding: 0;
      }
      &-upper{
        font-size: 24px;
        line-height: 2.0;
        padding-top: 12px;
        box-sizing: border-box;
        @include mq(md) {
          font-size: 22px;
          margin-bottom: 10px;
          text-align: center;
        }
      }
      &-lower{
        line-height: 1.8;
        box-sizing: border-box;
        padding-top: 23px;
        padding-left: 7px;
        @include mq(md) {
          font-size: 14px;
          text-align: center;
          padding-left: 0;
        }
      }
    }
  }
}



.price{
  background:#EEFBFB;
  height: 744px;
  width: 100%;
  @include mq(md) {
    height: 550px;
  }
  &-table{
    box-shadow: 0px 3px 6px #00000029;
    background: white;
    font-weight: bold;
    height: 420px;
    margin: 0 auto;
    width: 926px;
    @include mq(md) {
      font-size: 14px;
      height: 250px;
      margin: 0 auto;
      width: 95%;
    }
    @include mq(sp) {
      font-size: 14px;
    }
    &-bar{
    }
  }
  &-bar{
    &-right{
      border: 1px solid #00000029;
      padding-left: 30px;
      width: 626px;
      vertical-align: middle;
      @include mq(md) {
        width: 50%;
      }
      @include mq(sp) {
        padding-left: 0;
        text-align: center;
        width: 30%;
      }
    }
    &-left{
      border: 1px solid #00000029;
      vertical-align: middle;
      width: 300px;
      @include mq(md) {
        width: 50%;
      }
      @include mq(sp) {
        width: 70%;
      }
    }
  }
  &-warning{
    margin-top: 41px;
    text-align: center;
    @include mq(sp) {
      font-size: 12px;
    }
  }
}

.accordion{
  height: 600px;
  padding-bottom: 86px;
  @include mq(md) {
    min-height: 100%;
    height: auto;
  }
}

 .accordion-item {
   border: 1px solid #E5E5E5;
   font-size: 14px;
   line-height: 1.8;
   margin: 0 auto;
   width: 907px;
    @include mq(md) {
      width: 90%;
    }
}
 .accordion-item .accordion_header {
    background-color: #ffffff;
    padding: 20px 11%;
    position: relative;
    text-align: center;
    z-index: +1;
    cursor: pointer;
    transition-duration: 0.2s;
    @include mq(sp) {
      padding: 15px;
    }
}

 .accordion-item .accordion_header:hover {
    opacity: .8;
}

.accordion-item .accordion_inner {
  box-sizing: border-box;
  border-top: 1px solid #E5E5E5;
  background: #F2F2F2;
  display: none;
  padding: 23px 30px;
}
.accordion-item .accordion_inner.stay {
  display: block;
}

.accordion-item .accordion_inner .accordion-body{
  // height: px;
}
.accordion-item .accordion_inner p.accordion-text {
  margin: 0;
}


.blog{
  background: #EEFBFB;
  height: 668px;
  @include mq(md) {
    height: 1450px;
  }
  @include mq(sp) {
    height: 1700px;
  }
  &-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @include mq(md) {
      flex-direction: column;
    }
  }
  &-item{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    height: 387px;
    margin: 0 15px;
    position: relative;
    width: 29%;
    @include mq(md) {
      min-height: 350px;
      margin: 20px auto;
      width: 400px;
    }
    @include mq(sp) {
      height: 450px;
      min-height: 300px;
      margin: 20px auto;
      width: 95%;
    }
  }
  &-img{
    width: 100%;
    @include mq(md) {
      flex-direction: column;
    }
  }
  &-img-container{
    width: 100%;
    @include mq(md) {
      width: 400px;
    }
    @include mq(sp) {
      width: 100%;
    }
  }
  &-body{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 18px;
    padding-top: 13px;
    @include mq(md) {
      font-size: 16px;
    }
    &-day{
      bottom: 13px;
      font-weight: bold;
      letter-spacing: .1em;
      position: absolute;
      right: 18px;
      @include mq(md) {

      }
    }
  }
}

.swiper{
  font-weight: bold;
  padding-bottom: 140px;
  @include mq(md) {
    padding-bottom: 50px;
  }
  &-container{
  }
  &-slide{
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-sizing: border-box;
    height: 360px;
  }
  &-img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &-img-container{
    height: 170px;
  }
  &-body{
    padding: 24px 16px;
    &-upper{
      line-height: 1.6;
      margin-bottom: 28px;
    }
    &-lower{
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

.font-white{
  color: #ffffff;
}

.form{
  background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
  padding-bottom: 70px;
  &-container{
    background: #ffffff;
    box-sizing: border-box;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 60px 46px;
    @include mq(md) {
      padding: 30px 40px;
      width: 90%;
    }
    @include mq(sp) {
      padding: 20px;
    }
  }
  &-symbol{
    background: #0C449B;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    margin-left: 23px;
    padding: 4px 16px;
    @include mq(sp) {
      padding: 2px 10px;
    }
  }
  &-body-title{
    font-weight: bold;
    margin-bottom: 44px;
    @include mq(sp) {
      margin-bottom: 20px;
    }
  }
  &-check-box{
    margin-bottom: 45px;
    text-align: center;
  }
}

.end-message {
  display: none;
}

.false-message {
  display: none;
}

input[type="text"], input[type="mail"] {
  border: none;
  background: #EEFBFB;
  height: 40px;
  margin-bottom: 28px;
  width: 500px;
  @include mq(md) {
    width: 100%;
  }
}
textarea {
  background: #EEFBFB;
  border: none;
  height: 180px;
  margin-bottom: 30px;
  width: 780px;
  @include mq(md) {
    width: 100%;
  }
}
input[type="submit"] {
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 37px;
  line-height: 37px;
  margin: 0 auto;
  width: 155px;
}

.footer{
  background: #F8F8F8;
  box-sizing: border-box;
  height: 244px;
  padding-top: 50px;
  @include mq(sp) {
    height: 200px;
    padding-top: 20px;
  }
  &-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom:30px;
    text-align: center;
  }
  &-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 60px;
    width: 500px;
    @include mq(sp) {
      flex-direction: column;
      margin: 0 auto 30px;
      text-align: center;
      width: auto;
    }
  &-item{
    margin: 0 15px;
    list-style: none;
    cursor: pointer;
    @include mq(sp) {
      margin: 5px 0;
    }
    }
  }
  &-policy{
    font-size: 14px;
    margin-bottom: 50px;
    text-align: center;
  }
}

.fa-bars:before {
    position: absolute;
    top: 15px;
    right: 15px;
  }
#gnav-btn {
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  font-size: 22px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 15px;
  width: 50px;
  z-index: 100;
}
  #gnav-input:checked ~ #gnav-content {
    top: 0;
  }
  #gnav-content {
    background: #fff;
    left: 0;
    position: fixed;
    transition: 0.3s;
    top: -100%;
    width: 100%;
    z-index: 10;
  }
  .humb-menu__title {
    // padding: 1.5rem;
  }
  .humb-menu label {
    cursor: pointer;
    text-align: center;
  }

  .gnav-item{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
  }
  .humb-menu input {
    display: none;
  }
  .humb-menu .accshow {
    height: 0;
    overflow: hidden;
  }
  .humb-menu .accshow p {
    padding: 1.5rem;
  }
  .humb-menu .cssacc:checked + .accshow {
    height: auto;
  }
